* {
    margin: 0;
    padding: 0;
}

#top-left {
    Position: fixed;
    top: 0px;
    left: 0px;
}

#top-right {
    position: fixed;
    top: 0px;
    right: 0px;
}

.left-bottom {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.right-bottom {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.content {
    display: block;
    text-align: center;
    padding-top: 10%;
}

.searchform {
    display: block;
    text-align: center;
}

.searchform form {
    display: inline-block;
    margin: 0 auto;
}